<div class="weui-cells__title">订单确认</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">收件人姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入收件人姓名">
        </div>
    </div>
  <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">收件人电话</label></div>
      <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入收件人手机号">
      </div>
  </div>
  <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">收货地址</label></div>
      <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入收货地址">
      </div>
  </div>
  <div class="weui-cell">
      <div class="weui-cell__hd"><label for="" class="weui-label">送货日期</label></div>
      <div class="weui-cell__bd">
          <input class="weui-input" type="date" value="">
      </div>
  </div>
</div>
<div class="task-bar">
  <div class="task-layout">
      <div class="price">
        <span class="task-margin">100元</span>  
      </div>
      <div class="submit">
        <span class="task-margin">立即购买</span>
      </div>
  </div>
  
</div>